@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
}

;
.active {
    width: 100%;
    top: 0;
    right: 0;
    transition: 0.3s linear;
    display: flex;
    justify-content: stretch;
    align-items: center;
    min-width: 100vw;
    z-index: 40;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
}

.hidden {
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    top: -80px;
    transition: .7s linear;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 80px;
    background-color: goldenrod;
    height: 70px;
    padding: 15px;
}