nav.sub-nav {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
}

nav.sub-nav>div>form>.search {
    width: 300px;
    border-radius: 10px 0 0 10px;
}

nav.sub-nav>div>form>.search {
    background-color: var(--background-color);
}

nav.sub-nav>div>form>input {
    border-radius: 0px 10px 10px 0px;
}

nav.sub-nav>div>.theme-btn {
    border-radius: 7px;
}